@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?82e5l1');
    src: url('fonts/icomoon.eot?82e5l1#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?82e5l1') format('truetype'), url('fonts/icomoon.woff?82e5l1') format('woff'), url('fonts/icomoon.svg?82e5l1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.padding-top-15 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-10 {
    font-size: 10px;
}

.padding-top-15 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.font-size-75 {
    font-size: 60px;
}

.icon-medkumo-header {
    font-size: 60px;
    text-decoration: none !important;
}

.buttom-medkumo-ok-popup {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    color: white;
    border-color: #2D81C0;
}

.doctor-avatar-container {
    position: relative;
    display: block;
    background: white;
    border-radius: 50%;
    padding: 10px;
    text-decoration: none !important;
    margin-left: 16px;
}

.header-container {
    padding-left: 20px;
    padding-right: 20px;
}

.header-container i {
    font-size: 75px;
}

.validate {
    float: right;
    font-size: 12px;
    color: #CD694A !important;
}

.border-radius-input {
    border-radius: 12px !important;
}

.border-radius-span {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px
}

.icon-popup {
    display: block;
    padding-top: 10px;
    text-align: center;
    font-size: 80px;
    color: #D80128;
}

.male-checked-active input:checked+i {
    font-size: 80px;
    color: red;
}

.appointment-info-summary {
    padding-bottom: 5px;
    border-color: #F7A12A;
}

.appoitment-avatar-success {
    display: block;
    border-radius: 50%;
    color: white !important;
    text-decoration: none !important;
}

.doctor-avatar-summary {
    text-decoration: none !important;
}

.doctor-info {
    padding: 10px 0px;
}

.form-container {
    padding: 0px 40px;
}

.form-container input[type="text"], .form-container input[type="email"], .form-container select {
    border-radius: 12px;
    box-shadow: 0px 0px 1px!important;
}

.form-container input[type="text"]:focus, .form-container input[type="email"]:focus, .form-container select:focus {
    border-color: #F7A12A;
}

.form-container label {
    font-weight: normal;
}

.header-container {
    padding-left: 20px;
    padding-right: 20px;
}

.header-container i {
    font-size: 75px;
}

.text-white {
    color: white;
}

.button-popup-modal {
    visibility: hidden;
}

.text-medkumo-summary {
    color: #F7A12A;
}

.text-medkumo-popup-error {
    color: #CD694A;
    margin-top: 5px;
    margin-bottom: 0px;
}

.text-medkumo-appointment-header {
    color: #2D81C0;
}

.bg-medkumo-book-appointment-success {
    background-color: #10BE60;
}

.bg-medkumo-doctor-info {
    background-color: #2D81C0;
}

.text-medkumo-doctor-info {
    color: white;
}

.text-medkumo-valid label {
    color: #10BE60 !important;
    border-color: #10BE60 !important;
}

.text-medkumo-valid input, .text-medkumo-valid span, .text-medkumo-valid select, .text-medkumo-valid i {
    border-color: #10BE60 !important;
}

.text-medkumo-valid i {
    font-weight: 900;
}

.icon-medkumo-requirement {
    color: #D80128;
    font-size: 10px;
}

.button-medkumo-book-appointment {
    background-color: #F7A12A;
    border-color: #F7A12A;
    border-radius: 20px;
    color: white !important;
}

.text-medkumo-footer p {
    margin: 1px 3px;
    color: white;
    padding: 2px 0px;
}

.input-medkumo :focus {
    color: #F7A12A !important;
    border-color: inherit;
}

.input-medkumo:hover label, .input-medkumo:hover i {
    color: #F7A12A;
}

.text-medkumo-error, .text-medkumo-error label, .text-medkumo-error i, .text-medkumo-error :focus {
    color: #CD694A !important;
}

.text-medkumo-error input {
    border-color: #CD694A !important;
}

#appointmentDate-icon {
    right: 15px;
    bottom: 0px;
    top: auto;
}

.input-group .input-group-addon {
    box-shadow: 0px 0px 1px!important;
}

.input-group #mobile {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.has-error .validate {
    display: block;
}

.input-group .input-group-icon {
    z-index: 3;
}

#ui-datepicker-div {
    z-index: 3!important;
}

#radioFemale, #radioMale {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#radioMale~label, #radioFemale~label {
    font-weight: normal;
    padding-left: 30px;
    position: relative;
    display: inline-block;
}

#radioMale:checked~label, #radioFemale:checked~label, #radioFemale:focus~label:before, #radioFemale:focus~label, #radioMale:focus~label:before, #radioMale:focus~label {
    color: #F7A12A;
}

#radioFemale~label:before, #radioMale~label:before {
    font-family: 'icomoon' !important;
    font-size: 2.0em;
    color: #535353;
    position: absolute;
    top: -10px;
    left: 0px;
}

#radioFemale~label:before {
    content: "\e930";
}

#radioFemale:checked~label:before {
    content: "\e921";
    color: #F7A12A;
}

#radioMale~label:before {
    content: "\e957";
}

#radioMale:checked~label:before {
    content: "\e922";
    color: #F7A12A;
}

#medkumo-sdk-book-an-appointment-form #appointmentDate {
    background: white!important;
}

#spinner {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.doctor-info p {
    margin: 0px;
}

.doctor-info .media-heading-doctorname {
    margin-bottom: 5px;
    font-size: 1.2em;
}
