body {
    margin-bottom: 20px;
}

.padding-top-15 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.doctor-avatar-container {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background: white;
    border-radius: 50%;
    padding: 16px;
}

.doctor-info {
    padding: 10px 40px;
}

.form-container {
    padding: 0px 40px;
}

.header-container {
    padding-left: 20px;
    padding-right: 20px;
}

#ui-datepicker-div {
    z-index: 10!important;
}

#confirmation-msg {
    text-align: center;
}
.heading_doctor_name{
  font-size: 1.2em;
  font-weight: bold;
}
