@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?82e5l1');
    src: url('fonts/icomoon.eot?82e5l1#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?82e5l1') format('truetype'), url('fonts/icomoon.woff?82e5l1') format('woff'), url('fonts/icomoon.svg?82e5l1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.padding-top-15 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-10 {
    font-size: 10px;
}

.padding-top-15 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.font-size-75 {
    font-size: 60px;
}

.icon-medkumo-header {
    font-size: 60px;
    text-decoration: none !important;
}

.buttom-ok-popup {
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 14px;
}

.doctor-avatar-container {
    position: relative;
    display: block;
    background: white;
    border-radius: 50%;
    padding: 7px;
    text-decoration: none !important;
    margin-left: 16px;
}

.doctor-info {
    padding: 10px 40px;
}

.form-container {
    padding: 0px 40px;
}

.form-container input[type="text"] {
    border-radius: 12px;
    box-shadow: 0px 0px 1px!important;
}

.header-container {
    padding-left: 20px;
    padding-right: 20px;
}

.header-container i {
    font-size: 75px;
}

.validate {
    float: right;
    font-size: 12px;
}

.border-radius-input {
    border-radius: 12px !important;
}

.border-radius-span {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px
}

.icon-popup {
    display: block;
    padding-top: 10px;
    text-align: center;
    font-size: 80px;
    color: red;
}

.male-checked-active>input:checked {
    //    visibility: hidden;
    //    position: absolute;
}

.male-checked-active input:checked+i {
    font-size: 80px;
    color: red;
    .icon-popup;
}

.appointment-info-summary {
    padding-bottom: 5px;
    border-color: #8a6d3b;
}

.appoitment-avatar-success {
    display: block;
    background: green;
    border-radius: 50%;
    color: white;
    text-decoration: none !important;
}

.doctor-avatar-summary {
    text-decoration: none !important;
}

.doctor-info {
    padding: 10px 0px;
}

.form-container {
    padding: 0px 40px;
}

.form-container input[type="text"], .form-container input[type="email"], .form-container select {
    border-radius: 12px;
    box-shadow: 0px 0px 1px!important;
}

.input-group span.input-group-addon {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0px 0px 1px!important;
}

.input-group input {
    border-top-right-radius: 12px!important;
    ;
    border-bottom-right-radius: 12px!important;
    ;
}

.header-container {
    padding-left: 20px;
    padding-right: 20px;
}

.header-container i {
    font-size: 75px;
}

.validate {
    float: right;
    font-size: 12px;
}

.icon-popup {
    display: block;
    text-align: center;
    font-size: 80px;
    color: red;
}

.text-white {
    color: white;
}

.button-popup-modal {
    visibility: hidden;
}

.has-error .validate {
    display: block;
}

.input-group .input-group-icon {
    z-index: 3;
}

#ui-datepicker-div {
    z-index: 3!important;
}

#radioFemale, #radioMale {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#radioMale~label, #radioFemale~label {
    font-weight: normal;
}

#radioMale:checked~label, #radioFemale:checked~label, #radioFemale:focus~label:before, #radioFemale:focus~label, #radioMale:focus~label:before, #radioMale:focus~label {
    color: #eea236;
}

#radioFemale~label:before {
    font-family: 'icomoon' !important;
    display: inline-block;
    content: "\e930";
    letter-spacing: 5px;
    font-size: 1.6em;
    color: #535353;
}

#radioFemale:checked~label:before {
    content: "\e921";
    color: #eea236;
}

#radioMale~label:before {
    font-family: 'icomoon' !important;
    display: inline-block;
    content: "\e957";
    letter-spacing: 5px;
    font-size: 1.6em;
    color: #535353;
}

#radioMale:checked~label:before {
    content: "\e922";
    color: #eea236;
}

#medkumo-sdk-book-an-appointment-form #appointmentDate{
  background: white!important;
}
